/* Navigation bar */
 .navbar-style {
    background-color: black;
}



#nav-search-bar {
    width: 200px;
    height: 31px;
    font-size: 14px;
}

body{
    padding-top: 50px;
   font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   line-height: 1.42857143;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

.navbar {
    border-radius: 0px;
    max-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
} 

/* Dropdown menu */

.dropdown-menu {
    background-color: #8ca1be;
}

/* Carousel */

.carouel-image {
    display: block;
    height: 600px;
    width: 100%;
    object-fit: cover;
}

.carouel-image-height{
    display: block;
    height: 600px;
    width: 100%;
    object-fit: cover;
}

/* Continent categories */

.container {
    position: relative;
    font-family: Arial;
}
.text-block-two-lines {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 20px;
    position: absolute;
    width: 230px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
}

.text-block {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 30px;
    position: absolute;
    width: 230px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
}

.carousel-arrow{
    width: 30px;
    height: 30px;
}
.text-block-blog {    
    background: aliceblue;
    color: black;
    position: absolute;
    width: 250px;
    height: 80px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
}

.text-block-header{
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

.text-block-coming-soon {
    background: black;
    padding: 10px;
    color: white;
    position: absolute;
    width: 150px;
    height: auto;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    z-index: 1;
}

.row-padding-bottom {
    padding-bottom: 30px;
}

.row-padding-top {
    padding-top: 30px;
}

.row-padding-top-category-title {
    padding-top: 50px;
}

.text-title-row-padding {
    padding-top: 50px;
}

.text-title {
    color: black;
    padding-top: 23px;
    padding-bottom: 23px;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 20px;
    color: white;
    background: black;
    position: absolute;
    width: 600px;
    height: auto;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}

.more-on-our-blog {
    color: black;
    font-size: 15px;
    padding-top: 23px;
    padding-bottom: 23px;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 5px;
    color: white;
    background: black;
    position: absolute;
    width:400px;
    height: auto;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
}

/* Typography styles */
.quote-background {
    background-color: aliceblue;
    height: 350px;
}

.quote {
    padding-top: 130px;
    text-align: center;
    font: 400 130px/0.8 'Cookie', Helvetica, sans-serif;
    font-size: 35px;
}

.quote-credit {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

/* Pagination */
.pagination-style {
    background: black;
    position: relative;
    left: 35%;
    height: auto;
    top: 34%;
    font-family: 'Hammersmith One', sans-serif;
    text-transform: uppercase;
    margin-right: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
}


/* Footer */

.footer {
    left: 0;
    width: 100%;
    background-color: black;
    color: #e3e3e3;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
 }

 .footer-text {
     margin-bottom: 0%;
 }
 h4{
    font-size: 18px;
 }